@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Work+Sans:700');

body {
  margin: 0;
  background: #FFF;
  padding: 2em 3em;
  font-family: sans-serif;
  font: 300 20px 'Open Sans';
  color: #444;
}
.App {
  width: 50%;
  margin: 0 auto;
}
.App > h2{
    font: 700 35px 'Work Sans';
    margin-bottom: 0px;
    color: #5D6569;
}
.App > .stats {
  display: inline-block;
  float: left;
  font: 400 16px 'Open Sans';
  margin-right: 20px;
  color: #888;
  margin-bottom: 20px;
}
.App > .stats > span {
  font: 700 18px 'Work Sans';
  color: #00CDEA;
}
input,
input:focus {
    transition: .4s all;
    padding: 18px 20px;
    border-radius: 4px;
    font: 400 16px 'Open Sans';
    background: #F8F8F8;
    border: none;
    color: #666;
    outline: 0;
    width: 93%;
}
::-webkit-input-placeholder {
  color: #AAA;
}
ul {
    list-style: none;
    border-radius: 2px;
    padding: 0;
    box-shadow: 0 0 20px #EEE;
}
ul > li {
    -webkit-transition: all .3s;
    display: block;
    padding: 25px;
    font: 400 16px 'Open Sans';
    color: #666;
    border-bottom: 2px solid transparent;
}
ul > li:hover {
    background: #F8F8F8;
    cursor: pointer;
    color: #444;
}

ul > li.done {
    text-decoration: line-through;
    padding: 25px;
    background: #00CDEA;
    color: #FFF;
    border-color: rgba(255,255,255,0.1);
}
ul > li.done:hover {
    background: #02C5E0;
    padding: 25px 30px;
    color: #FFF;
}
